<template>
  <div class="app-menu min-vh-100">
    <b-img
      src="../assets/Buu01.png"
      width="auto"
      class="pt-2 pb-2"
      center
    ></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="/about">About</b-nav-item>
      <b-nav-item @click="showFromInput = !showFromInput"
        >From Input
        <b-icon
          :icon="showFromInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput1"
        >From Input 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput2"
        >From Input 2</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput3"
        >From Input 3</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput4"
        >From Input 4</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput5"
        >From Input 5</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput6"
        >From Input 6</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput7"
        >From Input 7</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput8"
        >From Input 8</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput9"
        >From Input 9</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showFromInput" to="./formInput10"
        >From Input 10</b-nav-item
      >

      <b-nav-item @click="showFrom = !showFrom"
        >From
        <b-icon
          :icon="showFrom ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFrom" to="./form1"
        >From 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFrom" to="./form2"
        >From 2</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showFrom" to="./form3"
        >From 3</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showFrom" to="./form4"
        >From 4</b-nav-item
      >
      <b-nav-item @click="showCrudExample = !showCrudExample"
        >CRUD Example
        <b-icon
          :icon="showCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./datatable1"
        >Data table 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./productfrom1"
        >Product From 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showCrudExample" to="./productTable"
        >Product Table</b-nav-item
      >
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFromInput: false,
      showFrom: false,
      showCrudExample: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: gray;
  font-size: 15pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
</style>
